<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="/css/output.css" rel="stylesheet">

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">

    <script>
        toastr.options = {
            "closeButton": true,              
            "debug": false,                    
            "newestOnTop": true,               
            "progressBar": true,               
            "positionClass": "toast-top-right",
            "preventDuplicates": true,        
            "onclick": null,                   
            "showDuration": "300",             
            "hideDuration": "1000",            
            "timeOut": "5000",               
            "extendedTimeOut": "1000",         
            "showEasing": "swing",             
            "hideEasing": "linear",           
            "showMethod": "fadeIn",            
            "hideMethod": "fadeOut"           
        };
    </script>

    <% if (flash && flash.success && flash.success.length > 0) { %>
        <script>
            toastr.success("<%= flash.success %>");
        </script>
    <% } %>

    <% if (flash && flash.error && flash.error.length > 0) { %>
        <script>
            toastr.error("<%= flash.error %>");
        </script>
    <% } %>

    <main id="layout-main" class="flex-grow py-6 px-4 md:px-8 lg:px-12">
        <%- body %>
    </main>

    <%- include('_footer'); %>

    <%- script %>
</body>
</html>